* {
    margin: 0;
    padding: 0;
}


html{
    height: 100%;
    border: 0;
    background-image: url(../image/fond-fruit.png);
    background-position: center center;    
    background-attachment: fixed;
    background-size: cover;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}


header#page_header {
  width: 80%;
  height: 100px;
  margin: 0 auto 50px;
  display: flex;
  align-items: center;
  background-color: #2C3E50;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  border-radius: 5px
}

header#page_header h1 {
  width: auto;
  margin-left: 50px;
  color: #FFF8E7;
  font-weight: 700;
  letter-spacing: 1.2px;
}
header img{
  height: 80px ;
  margin-left: 75px ;
  
}
nav.menu_horizontal {
  width: 79%;
}

nav.menu_horizontal ul {
  margin: 50px 30px 50px 0;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  list-style: none;
  padding: 0;
}

nav.menu_horizontal ul li a {
  padding: 7px 15px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #2A323F;
  background: #FFF8E7;
  border-radius: 12px;
  border: 1px solid #2A323F;
  box-shadow: 0 2px 5px rgba(63,63,127,0.2);
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}

nav.menu_horizontal ul li a:hover {
  background: linear-gradient(#7FFFD4);
  color: #000;
  border-color: #2A323F;
  box-shadow: 0 4px 12px rgba(63,63,127,0.6);
  cursor: pointer;
}

.center_logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_logo img {
  height: 50px; /* Ajuste selon ton image */
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.3));
}

.center_decor {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_decor::before {
  content: "";
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, #5a5aff, #3f3f7f);
  border-radius: 2px;
  box-shadow: 0 0 6px #3f3f7f;
}


.decouverte{
    display: flex;
    margin: 50px;
    justify-content: center;
}

.decouverte li{
    display: flex;
    padding: 20px;
    width: 30%;
    justify-content: center;
    align-items:flex-start;
    border: 2px solid #2A323F;
    border-radius: 8px;
}




.produits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 90%;
  margin: 0 auto 100px auto;
  list-style: none;
  
}

.produit {
  width: 450px;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
  -webkit-animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.produit img {
  width: 50%;
  max-width: 160px;
  height: auto;
  margin-right: 15px;
}

.produit .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 60%;
}

.produit p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
}

.produit button {
  align-self: flex-start;
  padding: 8px 16px;
  border: none;
  background-color: #2A323F;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  font-size: large;
}
.produit button a{
  text-decoration: none;
  color: white;
}

.produit button:hover {
  background-color: grey;
}


footer{
  width: 100%;
  background-color: #2A323F;
  display: inline-block;
  height: 350px;
}

footer  a  img {
  
  margin: 10px;
  width: 50px;  
  display: inline-block;
}
footer > div{
  
  margin: 10px;
  text-align: center;

}

footer div h2,h3 {
  margin-bottom: 0;
  color: #FFF8E7;
 
}
/* ----------------------------------------------
 

    Generated by Animista on 2025-10-10 13:6:45

Licensed under FreeBSD License.See http://animista.net/license for more info.w: http://animista.net/, t: @cssanimista---------------------------------------------- */
/**
 

    ----------------------------------------

animation scale-up-center----------------------------------------*/
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}